h1, h2, p, h4, h3, header{
color: #FEFE10;
font-size:25px;
text-align: center;
}

body {
background-color:#123123;
padding:none;
margin: 0px;
}
header{
height :25px;
width : 100%;
border : none;
margin: 0px;
position : fixed;

}
button {
height:20px;
width:95px;
margin-left:135px;

}
